# SQL in data science

#### Here are some SQL refreshers

use DISTINCT for unique values

SELECT title, release_year
<br>FROM films
<br>WHERE (release_year > 1989 AND release_year < 2000)

SELECT *
<br>FROM films
<br>WHERE language='Spanish'
<br>AND release_year > 2000 
<br>AND release_year < 2010;

SELECT title, release_year
<br>FROM films
<br>WHERE release_year BETWEEN 1990 AND 2000
<br>AND budget > 100000000
<br>AND (language = 'Spanish' OR language = 'French')

<br>SELECT title, certification
<br>FROM films
<br>WHERE certification IN ('NC-17', 'R');

SELECT COUNT(*)
<br>FROM films
<br>WHERE language IS NULL;

SELECT MAX(gross)
<br>FROM films
<br>WHERE release_year BETWEEN 2000 AND 2012

###### this is looking for names that start with B

SELECT name
<br>FROM people
<br>WHERE name LIKE 'B%';

###### this is looking for names that have 'r' in second place

SELECT name
<br>FROM people
<br>WHERE name LIKE '_r%';

##### Aliasing

SELECT title, gross - budget AS net_profit
<br>FROM films;

SELECT AVG(duration)/60.0 as avg_duration_hours
<br>FROM films

##### Order by

SELECT name
<br>FROM people
<br>ORDER BY name;

SELECT title, gross
<br>FROM films
<br>WHERE title LIKE 'M%'
<br>ORDER BY title;

###### Group by

SELECT release_year
<br>FROM films
<br>WHERE release_year > 1990
<br>GROUP BY release_year;

<br>SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
<br>FROM films
<br>WHERE release_year > 1990
<br>GROUP BY release_year
<br>HAVING AVG(budget) > 60000000
<br>ORDER BY avg_gross DESC;

<br>-- select country, average budget, average gross
<br>SELECT country, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
<br>-- from the films table
<br>FROM films
<br>-- group by country 
<br>GROUP BY country
<br>-- where the country has more than 10 titles
<br>HAVING COUNT(title) > 10
<br>-- order by country
<br>ORDER BY country
<br>-- limit to only show 5 results
<br>LIMIT 5;

### Aggregate Functions

##### min
SELECT MIN(duration)
FROM films

##### max
SELECT MAX(duration)
FROM films

##### avg
SELECT AVG(duration)
FROM films

##### sum
SELECT SUM(duration)
FROM films